<div id="languageForm" class="collapse" data-parent="#forms">
  <form class="row g-3 form-d-f">
    <div class="col-md-2">
      <label for="validationDefault01" class="form-label">Languages</label>
      <input type="text" class="form-control" id="validationDefault01" value="" placeholder="Enter your skill name."
        required>
    </div>

    <div class="col-md-1">
      <label for="validationDefaultUsername" class="form-label">Level</label>
      <div class="input-group">
        <input type="text" class="form-control" id="validationDefaultUsername" aria-describedby="inputGroupPrepend2"
          required>
        <span class="input-group-text" id="inputGroupPrepend2">/ 10</span>
      </div>
    </div>


    <div class="col-12">
      <button class="formBtn shaBor20 btn-primary" type="submit">Submit</button>
    </div>
  </form>
</div>