

<div id="detailsForm" class="collapse show" data-parent="#forms" >
  <form class="row g-3 form-d-f">
    <div class="col-md-2">
      <label for="validationDefault01" class="form-label">First name</label>
      <input type="text" class="form-control" id="validationDefault01" value="" placeholder="Your First Name" required>
    </div>
    <div class="col-md-2">
      <label for="validationDefault02" class="form-label">Last name</label>
      <input type="text" class="form-control" id="validationDefault02" value="" placeholder="Your Last Name" required>
    </div>
    <div class="col-md-2">
      <label for="validationDefault04" class="form-label">Position</label>
      <input type="text" class="form-control" id="validationDefault04" value="" placeholder="e.g. DevOps or Web developer" required>
    </div>
    <div class="col-md-2">
      <label for="validationDefault06" class="form-label">E-mail</label>
      <div class="input-group">
        <input type="email" class="form-control" id="validationDefault06"  placeholder="Your E-mail Address" required>
      </div>
    </div>
    <div class="col-md-2">
      <label for="validationDefault07" class="form-label">Phone</label>
      <input type="text" class="form-control" id="validationDefault07" value="" placeholder="e.g. 0033-123-456-789" required>
    </div>
    <br>
    <p>The following details are not required but recommended.</p>
    <div class="col-md-4">
      <label for="imgProfile" class="form-label">Image Profile</label>
      <input class="form-control" type="file" id="imgProfile">
    </div>
    <div class="col-md-2">
      <label for="validationDefault08" class="form-label">Country</label>
      <input type="text" class="form-control" id="validationDefault08" placeholder="Your Country" required>
    </div>
    <div class="col-md-2">
      <label for="validationDefault03" class="form-label">City</label>
      <input type="text" class="form-control" id="validationDefault03" placeholder="Your City" required>
    </div>
    <div class="col-md-2">
      <label for="validationDefault05" class="form-label">Address</label>
      <input type="text" class="form-control" id="validationDefault05" placeholder="Your Address" required>
    </div>
    <div class="col-12">
      <button class="formBtn shaBor20 btn-primary" type="submit">Submit</button>
    </div>
  </form>
  </div>