* {
    margin: 0px;
    padding: 0px;
    overflow: none;
}

body {

    margin: 0px;
    font-family: sans-serif;
}

/* Header */

header {
    margin: 1em;
    text-align-last: center;
    font-family: seri;
    position: static;
    border-bottom: 0.3px solid;
}

.shrinkWidth {
    left: 10% !important;
    right: 10% !important;
}

.disBanner {
    box-shadow: 0px 0px 13px 0px #00000059;
    border-radius: 20px;
}

.form-d-f{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
}
button.formBtn {
    padding: 6px;
    border: none;

}

.tst{
    background-color: white;
    /* margin-top: 5px; */
    /* border-top-style: outset; */
    /* border: solid #2b966c4f; */
    padding: 10px;

}

.shaBor20 {
    border-radius: 20px;
    box-shadow: 0px 0px 6px 1px #00000063;
}


/* builder content style */
.row.centralize {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
    flex-wrap: wrap;
    text-align: center;
}

.activeState{
    position: relative;
    background-color: #2b966c !important;
    color: white;
    /* list-style: cambodian; */
    font-weight: bold;
    border: none !important;
}
.activeState::after{
    content: '';
    position: absolute;
    bottom: -14px;
    height: 30px;
    left: 33%;
    width: 30px;
    clip-path: polygon(0 0, 50% 100%, 100% 0);
    background-color: #2b966c;
    z-index: -1;

}

.checkMid{
    top:15px
}







.btn-info {
    background-color: #59CE8F !important;
    border-color: #59CE8F !important;
}

.avatars {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.avatar {
    background-color: burlywood;
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 50px;
    margin: 5px;
}

/* cv template style goes here */
/*  A4 size in inches: 8.27 x 11.69 in. 
A4 size in centimeters: 21.01 x 29.62 cm. 
A4 size in millimeters: 210 x 297 mm. 
A4 size in pixels at 72 DPI: 595 x 842 pixels. */
.a4{
    height: auto;
    width: 595px;
}
.cvName{
    text-align: center;
}

.cvImg {
    width: 35% !important;
    text-align-last: center;
    padding: 30px;
}

.cvImg img{
    height: auto;
    width: 200px;
    clip-path: circle(37% at 50% 50%);
}
.cvProfile{
    width: 60% !important;
    padding: 30px;
}
.cvBox{
    text-align: -webkit-center;
}
/* .cvBox p{
    margin: 0px !important;
} */
.cvTag{
    min-width: 10%;
    padding: 7px;
    margin: 6px;
    text-align-last: center;
    box-shadow: 0px 0px 3px 0px #0000006b;
}
.cvBorRad{
    border-radius: 15px;

}
.cvDsFlex{
    display: flex!important;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.cvWidgeR{
    width: 90%;
    margin: 15px;
}
.cvOutline{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
}
.cvLine{
    border-left: 9px solid #8c8c8c;
    padding: 5px;
}
.cvLine h6{
    font-size: 12px;

}
.cvLine h5{
    font-size: 18px;
    
}
.cvLine h4{
    font-size: 14px;

}

.cvBox h3 , .cvWidgeR h3{
    margin-bottom: 30px;
}
.cvfooter{
    height: 15px;
    width: 100%;
    width: -webkit-fill-available;

}

.cvRight{
    border-left: 7px dotted black !important;
}