{% extends 'base.html' %}

{% block title %}
Signup
{% endblock %}


{%block content%}
<!-- Section: Design Block -->
<section class="text-center">
  <!-- Background image -->
  <div class="p-5 bg-image" style="
          background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
          height: 300px;
          "></div>
  <!-- Background image -->

  <div class="card mx-4 mx-md-5 shadow-5-strong" style="
          margin-top: -100px;
          background: hsla(0, 0%, 100%, 0.8);
          backdrop-filter: blur(30px);
          ">
    <div class="card-body py-5 px-md-5">

      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h2 class="fw-bold mb-5">Sign up now</h2>


          <form action="/signup" method="POST" name="form">
            <div class="d-flex " style="color: #868e95">
              <span>Title : &nbsp;</span>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="title" id="inlineRadio1" value="mr">
                <label class="form-check-label" for="inlineRadio1">Mr.</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="title" id="inlineRadio2" value="mrs">
                <label class="form-check-label" for="inlineRadio2">Mrs.</label>
              </div>
            </div>
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row">

              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <input type="text" name="fname" id="form3Example1" class="form-control"
                    placeholder="Enter your first name" required />
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <input type="text" name="lname" id="form3Example2" class="form-control"
                    placeholder="Enter your last name" required />
                </div>
              </div>
            </div>

            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" name="email" id="form3Example3" class="form-control"
                placeholder="Enter your email address" required />
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" name="1st-password" id="form3Example4" class="form-control"
                placeholder="Enter your password" required />
            </div>
            <div class="form-outline mb-4">
              <input type="password" name="2nd-password" id="form3Example5" class="form-control"
                placeholder="Confirm your password" required />
              <!-- <label class="form-label" for="form3Example4">Password (Confirm)</label> -->
            </div>
            <!-- Submit button -->
            <button type="submit" name="submit" value="Sign up" class="btn btn-primary btn-block mb-4">
              Sign up
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->
{%endblock%}